<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(1,10):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
print('hello')

hello

In [5]:
# function definition
def fun():
  print('hello')

In [7]:
#function calling
fun()
fun()

hello
hello

In [8]:
def fun1():              # user defined
  for i in range(1,10):
    print('hello')

fun1()

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [9]:
fun1()

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [10]:
# types of function
# default function
# print function , input() , len() , sqrt()

In [13]:
# local and global value of a function
b=3               # global value
def func():
  a= 2             # local value


print(b)

3

In [41]:
def fun():
  print('hello')


fun()
def fun():
  print('hey')

fun()

hello
hey

In [16]:
fun()

hey

In [19]:
# parameters in a function
def fun(name,age):
  print(f"hello, {name},{age}")

fun("dhawal",22)

hello, dhawal,22

In [22]:
# return statement
def add(a,b,c):
  return a-b+c

add(3,4,7)

6

In [23]:
def opr(a,b):
  return a+b,a-b,a*b,a%b

opr(63,9)

(72, 54, 567, 0)

In [31]:
# default parameter
def fun(name="Dhawal"):
  print(f"hello,{name}")

fun()

hello,Dhawal

In [38]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")


student(30,"Amit")

30 is Amit years old

In [35]:
student(age=30,name="Amit") # keyword

Amit is 30 years old

In [43]:
# max number
def max_num():
  a = int(input("enter first number:"))
  b = int(input("enter second number:"))
  c = int(input("enter third number:"))
  return max(a,b,c)

print(max_num())

enter first number:4
enter second number:7
enter third number:2
7

In [46]:
# write a function to check even odd number
def check_even_odd():
  num = int(input("enter a number "))
  if(num%2==0):
    print("even")
  else:
    print("odd")

check_even_odd()

enter a number 9
odd

In [50]:
# print multiplication table of a number using function
def mult():
  n = int(input("enter a number"))
  for i in range(1,11):
    print(f"{n}*{i}= {n*i}")
mult()

enter a number7
7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
7*10= 70

In [52]:
# write a function to find area of a circle
def area(r):
  return 3.14*r*r

round(area(6),2)

113.04

In [53]:
# write a function to find the length of a string
def strl(s):
  return len(s)

strl("Dhawal")

6

In [54]:
# write a function to check for a prime number
def is_prime():
  n = int(input("enter a number "))
  if(n>2):
    return False
  for i in range(2,n):
    if(n%i==0):
      return True
    else:
      return False
is_prime()

enter a number8

False