<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics/blob/main/Introduction_to_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to python ")

Welcome to python

Comments in python

In [ ]:
# this is a comment
# single line comment

In [ ]:
''' multi line comment
in python'''
print('hello')

hello

In [ ]:
# variables
a = 5+ 29
print(a)

34

In [ ]:
print(a)
a= 75
print(a)

34
75

In [ ]:
# multiple variable in a statement
a=10
b=33
c=55
d= a+b+c
print(d)

98

In [ ]:
a= 10 ; b=22 ; c= 45 ; d=99
print(a+b-c+d)

86

In [ ]:
a+b

32

In [ ]:
total = 1+2+3+4+\
4+9+6
total

29

In [ ]:
# assigning more variables
age = 22
weight = 56.8
name = "Python"

print("age is",age)
print("weight is ",weight)
print("name is",name)

age is 22
weight is  56.8
name is Python

In [ ]:
name = "Dhawal"
age = 58

In [ ]:
first_name = "Dhawal"
_firstname= "dhawal"
age1 = 46

SyntaxError: invalid decimal literal (<ipython-input-28-bbbc40d56c40>, line 4)

In [ ]:
#case sensitive
name = "Dhawal"
NAME = "dhawal"
print(name)
print(NAME)

Dhawal
dhawal

Datatypes in python

In [ ]:
age = 44
print(type(age))
weight = 55.6
print(type(weight))
name= "dhawal"
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
var = 10
print(type(var))

var = "hello"
print(type(var))

var = 5.6
print(type(var))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
is_true = True
print(type(is_true))
is_false = False
print(type(is_false))

<class 'bool'>
<class 'bool'>

In [ ]:
result = "hey" + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# hey5
result = "hey" + str(5)
print(result)

hey5

In [ ]:
# inputs in python
a = str(input("enter a name "))
print(a)
print(type(a))

enter a nameDhawal
Dhawal
<class 'str'>

In [ ]:
age = 22
print(str(4)+str(age))

422

In [ ]:
name = "dhawal"
print(type(name))
name1 = " dwivedi"
print(type(name1))
name+name1
age = 22
print(type(age))
print(age + 2)

<class 'str'>
<class 'str'>
<class 'int'>
24

TypeError: can only concatenate str (not "int") to str

In [ ]:
x = int(input("enter a number1 "))
y = int(input("enter a number2 "))
print(x+y)

enter a number1 45
enter a number2 67
112

In [ ]:
# more on operators
# arithmetic operators
a= 10
b= 5
add = a+b
sub = a-b
mul = a*b
div = a/b # quetient
f_div = a//b # floor division
print(add)
print(sub)
print(mul)
print(div)
print(f_div)

# 6.7
# ceil value = 7
# floor value = 6

15
5
50
2.0
2

In [ ]:
# modulus
print(a%b) # remainder
print(a**b) # exponential

0
100000

In [ ]:
10%3

1

In [ ]:
# difference between "=" and "=="
a = 10  # assignment operator
b = 10
a==b # == comparison operator

True

In [ ]:
str1 = "dhawal"
print(len(str1))
str2 = " dhawal"
print(len(str2))
print(str1==str2)
print(str1!= str2)

6
7
False
True

In [ ]:
num1 = 10
num2 = 15
num1 > num2

False

In [ ]:
num3= 45
num4=45
num3 >= num4

True

In [ ]:
num4 <= num3

True

In [ ]:
# logical operators
# and
x = True
y = False
result = x and y
result

False

In [ ]:
# or
x = True
y = False
result = x or y
result

True

In [ ]:
# not operator
x = False
not x

True

In [ ]:
# make a simple calculator
a= int(input("Enter the First Number: "))

b= int(input("Enter the Second Number: "))

print("Add",a+b)

print("subtract",a-b)

print("multiply",a*b)

print("division",a/b)

print("floor division",a//b)

print("modulus",a%b)

print("Exponent",a**b)

Enter the First Number: 45
Enter the Second Number: 21
Add 66
subtract 24
multiply 945
division 2.142857142857143
floor division 2
modulus 3
Exponent 52175039830928973774433135986328125