<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics/blob/main/Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('1')
print('2')
print('3')
print('4')
print('5')
print('6')
print('7')
print('8')
print('9')
print('10')

1
2
3
4
5
6
7
8
9
10

In [ ]:
# for loop
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,3):
  print(i)

1
4
7
10

In [ ]:
# range(starting value , end value-1, step size)
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [ ]:
# strings
s = "Dhawal Dwivedi"
for i in s:
  print(i)

D
h
a
w
a
l

D
w
i
v
e
d
i

In [ ]:
# print the table of 17 using for loops
for i in range(17,171,17):
  print(i)

17
34
51
68
85
102
119
136
153
170

In [ ]:
for i in range(170,16,-17):
  print(i)

170
153
136
119
102
85
68
51
34
17

In [ ]:
# break statement
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# continue
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# calculate sum of first N natural numbers using for loop
# 0=0+0 =0
# 0+1 = 1
# 1+2= 3
n= 1
sum=0
for i in range(2):
  sum = sum + i

print(sum)

1

In [ ]:
n= 2
sum=0
for i in range(3):
  sum = sum + i

print(sum)

3

In [ ]:
n= 3
sum=0
for i in range(4):
  sum = sum + i

print(sum)

6

In [ ]:
n= 4
sum=0
for i in range(5):
  sum = sum + i

print(sum)

10

In [ ]:
n=10000
sum=0
for i in range(10001):
  sum = sum + i

print(sum)

50005000

In [ ]:
# 1, 3, 6, 10 , 15 n(n+1)/2
n= int(input("enter the number "))
sum = n*(n+1)/2
print(sum)

enter the number 10000000
50000005000000.0

Write a program to reverse a string using for loop

In [ ]:
s= "gfg"
rev_s= ""
for i in s:
  rev_s = i + rev_s

print(rev_s)

# palindrome
# gfg
if s==rev_s:
  print("palindrome")
else:
  print("not a palindrome")

gfg
palindrome

Check if a number is prime or not using loops

In [ ]:
num = int(input("enter the number "))
if(num==1):
  print("unique number")

else:
  flag = True
  for i in range(2,num):
    if num%i==0:
      flag = False

      break

if flag==True:
  print('its a prime')
else:
  print('not a prime')

enter the number 9
not a prime

Write a program to find factorial of a number using loops only

In [ ]:
# 5! - 5*4*3*2*1 (120)
#
num = int(input("enter a number "))
fact = 1
for i in range(num,0,-1):
  fact = fact*i

print(fact)

enter a number 5
120

In [16]:
# nested loops
for i in range(3):
  for j in range(2):
    print(f"i:{i} , j:{j}")

i:0 , j:0
i:0 , j:1
i:1 , j:0
i:1 , j:1
i:2 , j:0
i:2 , j:1

In [18]:
# find all prime numbers between 1 to 50
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

outer loop - controls the number of rows ina pattern

inner loop - executes the condition in each row

In [25]:
# pattern printing
for i in range(5):
  for j in range(5):
    print("*",end = "")
  print()

*****
*****
*****
*****
*****

*
* *
* * *
* * * *
* * * * *

In [27]:
for i in range(6):
  for j in range(i):
    print("*",end = "")
  print()

# i =1 ,

*
**
***
****
*****

In [32]:
# inverted triangle
for i in range(5,0,-1):
  for j in range(i):
    print("*",end = "")
  print()

*****
****
***
**
*

for i range(5):
   count =5
   print(i*)
   count = count-1

In [33]:
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

1
1 2
1 2 3
1 2 3 4

In [34]:
for i in range(1,5):                       # 2
  for j in range(1,i+1):                   # (1,3)
    print(j,end = "")                      # j
  print()

1
12
123
1234

In [35]:
# reverse number pattern
for i in range(4,0,-1):
  for j in range(i,0,-1):
    print(j,end = "")                      # j
  print()

4321
321
21
1